#spree-1 {
  background-color: #555152;
}

#spree-2 {
  background-color: #D68189;
}

#spree-3 {
  background-color: #C6A49A;
}

#spree-4 {
  background-color: #C6E5D9;
}

#spree-5 {
  background-color: #F4EAD5;
}

#spree-graph {
  background-color: ivory
}