<% content_for :title do %>Spree Stats<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div id="spree-1" data-id="state-totals" data-view="Number" data-title="Total Orders" data-text="Total Orders" style="color:#96bf48;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div id="spree-graph" data-id='order_state_graph' data-view="Graph" data-title='' data-text="Total Orders" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div id="spree-2" data-id="checkout-totals" data-view="Number" data-title="Checkout" data-text="Cart"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div id="spree-3" data-id="complete-totals" data-view="Number" data-title="Complete" data-text="Complete" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div id="spree-4" data-id="shipped-totals" data-view="Number" data-title="Shipped" data-text="Shipped" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div id="spree-5" data-id="canceled-totals" data-view="Number" data-title="Canceled" data-text="Canceled" ></div>
    </li>
  </ul>
</div>